<div class="jumbotron">
  <h1>'MovieStar!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="amazing movies"><br>
    welcome to the movie Zone,we bring you the Latest movies .
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Awe Some!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>movies synopsis</h4>
  <p>
    Find the latest movies and view their synopsis
  </p>

  <h4>popular movies</h4>
  <p>
    we keep you informed about the movies featuring your famous movie stars keep tuined in
  </p>

  <h4>Amazing December holiday movies</h4>
  <p>we are going to keep you glued to your screen with our lined up movies,choose from all categories .</p>
</div>

